{% extends 'shared/layout.html'%}

{% block header %}
<title>Out of City Missions</title>
<link rel="stylesheet" href="{{ url_for('static', filename='lib/leafletMap/leaflet.css') }}""/>
<script src="{{ url_for('static', filename='lib/leafletMap/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='lib/leafletMap/Control.OSMGeocoder.js') }}"></script>
{% endblock %}
{% block content %}
{% if formAccess["Create"] == 'True' %}
<input id='newMission' type="button" class="btn btn-primary" value="New Mission" data-toggle="modal" data-target="#CreateEditModal"/>
<br/>
<br/>
{% endif %}
{{ pagination.info }}
<div class="table-responsive-sm">
    <table class="table table-striped">
        <tr class="thead-dark">
            <th>#</th>
            <th>User Fullname</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Mission Title</th>
            <th>Approval Result</th>
            <th>Approved By</th>
            <th>Approve Date</th>
            <th></th>
        </tr>
        {% for mission in mymissions %}
        <tr>
            <td>{{ loop.index + pagination.skip }}</td>
            <td>{{ mission.UserID.FirstName +' '+mission.UserID.LastName }}</td>
            <td>{{ mission.StartDate }}</td>
            <td>{{ mission.EndDate }}</td>
            <td>{{ mission.MissionTitle }}</td>
            <td>
                {% if mission.IsApproved %} 
                    Approved
                {% elif mission.IsApproved == false %}
                    Rejected
                {% else %}
                    Not Anwsered
                {% endif %}
            </td>
            <td>
                {% if mission.ApprovedBy %} 
                    {{ mission.ApprovedBy.FirstName + ' ' + mission.ApprovedBy.LastName }}
                {% endif %}
            </td>
            <td>{{ mission.ApproveDate }}</td>
            <td>
                <a class="gn-icon gn-icon-detail" href="#" data-id="{{ mission.MissionID }}" data-toggle="modal" data-target="#DetailModal"></a>
                {% if formAccess["Update"] == 'True' %}
                    <a class="gn-icon gn-icon-edit" href="#" data-id="{{ mission.MissionID }}" data-toggle="modal" data-target="#CreateEditModal"></a>
                {% endif %}
                {% if formAccess["Delete"] == 'True' %}
                    <a class="gn-icon gn-icon-delete" href="#" data-id="{{ mission.MissionID }}" data-toggle="modal" data-target="#DeleteModal"></a>
                {% endif %}
            </td>
        </tr>
        {% else %}
        <tr><td colspan="9">No entries yet. Add some!</td></tr>
        {% endfor %}
    </table>
</div>
{{ pagination.links }}
{% if formAccess["Create"] == 'True' or formAccess["Update"] == 'True' %}
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="CreateEditModal" style="overflow:hidden;" style="width:95%;">
    <div class="modal-dialog modal-lg" role="document" style="width:95%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <input type="hidden" id="selectedID"/>
                    <input type="hidden" id="Latitude"/>
                    <input type="hidden" id="Longitude"/>
                    <div class="form-group row">
                        <div class="col-md-1" >
                            <label>Start</label>
                        </div>
                        <div class="col-md-3" >
                            <input type="date" class="form-control" id="StartDate" name="StartDate"/>
                        </div>
                        <div class="col-md-2" >
                            <input type="time" class="form-control" id="StartTime" name="StartTime"/>
                        </div>
                        <div class="col-md-1" >
                            <label>End</label>
                        </div>
                        <div class="col-md-3" >
                            <input type="date" class="form-control" id="EndDate" name="EndDate"/>
                        </div>
                        <div class="col-md-2" >
                            <input type="time" class="form-control" id="EndTime" name="EndTime"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2" >
                            <label>Mission Title</label>
                        </div>
                        <div class="col-md-10" >
                            <input type="text" class="form-control" id="MissionTitle" name="MissionTitle"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3" >
                            <labe>Went Transport</label>
                        </div>
                        <div class="col-md-4" >
                            <select class="form-control" id="TransportTypeWentID" name="TransportTypeWentID">
                                <option value="">Select Transport Type</option>
                                {% for t in transporttypes %}
                                    <option value="{{ t.TransportTypeID }}">{{ t.TransportTypeTitle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2" >
                            <label>Went Payment</label>
                        </div>
                        <div class="col-md-3" >
                            <input type="number" class="form-control" id="WentPayment" name="WentPayment" step="0.01"/>
                        </div>
                    </div> 
                    <div class="form-group row">
                        <div class="col-md-3" >
                            <labe>Return Transport</label>
                        </div>
                        <div class="col-md-4" >
                            <select class="form-control" id="TransportTypeReturnID" name="TransportTypeReturnID">
                                <option value="">Select Transport Type</option>
                                {% for t in transporttypes %}
                                    <option value="{{ t.TransportTypeID }}">{{ t.TransportTypeTitle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2" >
                            <label>Return Payment</label>
                        </div>
                        <div class="col-md-3" >
                            <input type="number" class="form-control" id="ReturnPayment" name="ReturnPayment" step="0.01"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12" >
                            <div id="mapid" style="width: 100%; height: 200px;"></div>
                        </div>
                    </div>         
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Ok</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if formAccess["Delete"] == 'True' %} 
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="DeleteModal" style="overflow:hidden;"  style="width:95%;">
    <div class="modal-dialog modal-lg" role="document"  style="width:95%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Delete Out of City Mission</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" id="selectedID"/>
                        <div class="form-group">
                            <label class="control-label col-md-10">Are you sure to delete this role?</label>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-2">Start Date</label>
                            <div class="col-md-4" >
                                <label id="StartDate"></label>
                            </div>
                            <label class="control-label col-md-2">End Date</label>
                            <div class="col-md-4" >
                                <label id="EndDate"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Mission Title</label>
                            <div class="col-md-9" >
                                <label id="MissionTitle"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                                <div class="col-md-3" >
                                    <labe>Went Transport</label>
                                </div>
                                <div class="col-md-3" >
                                    <label id="TransportTypeWentTitle"></label>
                                </div>
                                <div class="col-md-3" >
                                    <label>Went Payment</label>
                                </div>
                                <div class="col-md-3" >
                                    <label id="WentPayment"></label>
                                </div>
                            </div>
                        <div class="form-group row">
                            <div class="col-md-3" >
                                <labe>Return Transport</label>
                            </div>
                            <div class="col-md-3" >
                                <label id="TransportTypeReturnTitle"></label>
                            </div>
                            <div class="col-md-3" >
                                <label>Return Payment</label>
                            </div>
                            <div class="col-md-3" >
                                <label id="ReturnPayment"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12" >
                                <div id="mapid2" style="width: 100%; height: 200px;"></div>
                            </div>
                        </div> 
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Ok</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="DetailModal" style="overflow:hidden;" style="width:95%;">
        <div class="modal-dialog modal-lg" role="document" style="width:95%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="gridSystemModalLabel">Out of City Mission Info</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                        <div class="form-horizontal">
                            <input type="hidden" id="selectedID"/>
                            <div class="form-group row">
                                <label class="control-label col-md-2">Start Date</label>
                                <div class="col-md-5" >
                                    <label id="StartDate"></label>
                                </div>
                                <label class="control-label col-md-2">End Date</label>
                                <div class="col-md-5" >
                                    <label id="EndDate"></label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3">Mission Title</label>
                                <div class="col-md-9" >
                                    <label id="MissionTitle"></label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3" >
                                    <labe>Went Transport</label>
                                </div>
                                <div class="col-md-3" >
                                    <label id="TransportTypeWentTitle"></label>
                                </div>
                                <div class="col-md-3" >
                                    <label>Went Payment</label>
                                </div>
                                <div class="col-md-3" >
                                    <label id="WentPayment"></label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3" >
                                        <label>Return Transport</label>
                                </div>
                                <div class="col-md-3" >
                                    <label id="TransportTypeReturnTitle"></label>
                                </div>
                                <div class="col-md-3" >
                                    <label>Return Payment</label>
                                </div>
                                <div class="col-md-3" >
                                    <label id="ReturnPayment"></label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" >
                                    <div id="mapid3" style="width: 100%; height: 200px;"></div>
                                </div>
                            </div> 
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
</div>
<script>
    var hometownArea = {{ hometown|tojson|safe }};
    var orglat = parseFloat('{{ orglat }}');
    var orglng = parseFloat('{{ orglong }}');
</script>
<script src="{{ url_for('static', filename='js/outofcitymission.js') }}"></script>

{% endblock %}