{% extends 'shared/layout.html'%}

{% block header %}
<title>Transport Types</title>
{% endblock %}
{% block content %}

<div class="form-group row">
    {% if formAccess["Create"] == 'True' %}
    <div class="col-md-2" style="padding-bottom:5px;" >
        <div class="col-md-12 row">
            <div class="col-md-6">
                <input id='newTransportType' type="button" class="btn btn-primary" value="New Transport Type" data-toggle="modal" data-target="#CreateEditModal"/>
            </div>
        </div>
    </div>
    {% endif %}
    {% if formAccess["Print"] == 'True' %}
    
    <div class="col-md-8" style="padding-bottom:5px;">
            <form class="col-md-12 row" action="/TransportTypeManagement/ExportReport" method="POST">
                <div class="col-md-6" >
                    <select id="reportType" name="reportType" class="form-control">
                        <option value="Excel">Excel</option>
                        <option value="CVS">CVS</option>
                        <option value="PDF">PDF</option>
                    </select>
                </div>
                <div class="col-md-6" >
                    <input id="exportReport" type="submit" class="btn btn-default" value="Export"/>
                </div>  
            </form>
    </div>
    
    {% endif %}
</div>

{{ pagination.info }}
<table class="table table-striped">
    <tr class="thead-dark">
        <th>#</th>
        <th>Transport Type Title</th>
        <th>Description</th>
        <th></th>
    </tr>
    {% for entry in transportTypes %}
    <tr>
        <td>{{ loop.index + pagination.skip }}</td>
        <td>{{ entry.TransportTypeTitle }}</td>
        <td>{{ entry.Description }}</td>
        <td>
            <a class="gn-icon gn-icon-detail" href="#" data-id="{{ entry.TransportTypeID }}" data-toggle="modal" data-target="#DetailModal"></a>
            {% if formAccess["Update"] == 'True' %}
                <a class="gn-icon gn-icon-edit" href="#" data-id="{{ entry.TransportTypeID }}" data-toggle="modal" data-target="#CreateEditModal"></a>
            {% endif %}
            {% if formAccess["Delete"] == 'True' %}
                <a class="gn-icon gn-icon-delete" href="#" data-id="{{ entry.TransportTypeID }}" data-toggle="modal" data-target="#DeleteModal"></a>
            {% endif %}
        </td>
    </tr>
    {% else %}
    <tr><td colspan="4">No entries yet. Add some!</td></tr>
    {% endfor %}
</table>
{{ pagination.links }}
{% if formAccess["Create"] == 'True' or formAccess["Update"] == 'True' %}
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="CreateEditModal" style="overflow:hidden;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                
            </div>
            <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label id="caption"></label>
                            <input type="hidden" id="selectedID"/>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3" >
                                <labe>Transport Type Title</label>
                            </div>
                            <div class="col-md-6" >
                                <input type="text" class="form-control" id="TransportTypeTitle" name="TransportTypeTitle"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3" >
                                <labe>Description</label>
                            </div>
                            <div class="col-md-6" >
                                <textarea class="form-control" id="Description" name="Description"></textarea>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Ok</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if formAccess["Delete"] == 'True' %} 
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="DeleteModal" style="overflow:hidden;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Delete Transport Type</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <input type="hidden" id="selectedID"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-10">Are you sure to delete this transport type?</label>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Transport Type Title</label>
                            <div class="col-md-6" >
                                <label id="TransportTypeTitle"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Description</label>
                            <div class="col-md-6" >
                                <label id="Description"></label>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Ok</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="DetailModal" style="overflow:hidden;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Transport Type Info</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <input type="hidden" id="selectedID"/>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Transport Type Title</label>
                            <div class="col-md-6" >
                                <label id="TransportTypeTitle"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Description</label>
                            <div class="col-md-6" >
                                <label id="Description"></label>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/transporttypes.js') }}"></script>
{% endblock %}