{% extends 'shared/layout.html'%}

{% block header %}
<title>About</title>
{% endblock %}
{% block content %}
<div class="content-area">
		<div class="content-area-header">
            About
        </div>
		<div class="content-area-text">
                <h3>Application Information</h3>
                <table class="table">
                    <tr>
                        <th>Name:</th>
                        <td>{{ appinfo.name }}</td>
                    </tr>
                    <tr>
                        <th>Description:</th>
                        <td>{{ appinfo.description }}</td>
                    </tr>
                    <tr>
                        <th>Publisher:</th>
                        <td>{{ appinfo.publisher }}</td>
                    </tr>
                    <tr>
                        <th>Version:</th>
                        <td>{{ appinfo.version }}</td>
                    </tr>
                    <tr>
                        <th>License:</th>
                        <td>{{ appinfo.license }}</td>
                    </tr>
                </table>
                <h3>Detail of Releases</h3>
                {% for release in releases %}
                <h4>Version: {{ release.attrib['version'] }}</h4>
                <h5>Release Date: {{ release.attrib['date'] }}</h5>
                <ul>
                    {% for change in release %}
                        <li>{{ change.text }}</li>
                    {% endfor %}
                </ul>
                {% endfor %}
                <br/>	
        </div>
</div>
{% endblock %}
