*{
    margin:0px;
    padding:0px;
    font-family: "Open Sans", Helvetica, sans-serif;
}

html{
    overflow:hidden;
}

body {
    background-image:    url(../img/login_bg.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;  
}

#splash{
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

#login
{
    background:rgba( 247, 240, 210, 0.6 );
    /*background-color: #233c22;*/
    /*background: -webkit-gradient( linear, left top, left bottom, from( rgba( 251, 253, 255, 0.8 ) ), to( rgba( 217, 228, 243, 0.8 ) ) );
    background: -webkit-linear-gradient( rgba( 251, 253, 255, 0.8 ), rgba( 217, 228, 243, 0.8 ) );
    background: -moz-linear-gradient( rgba( 251, 253, 255, 0.8 ), rgba( 217, 228, 243, 0.8 ) );
    background: -o-linear-gradient( rgba( 251, 253, 255, 0.8 ), rgba( 217, 228, 243, 0.8 ) );
    background: linear-gradient( rgba( 251, 253, 255, 0.8 ), rgba( 217, 228, 243, 0.8 ) );*/
    border: 1px solid #666;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #205081;
    text-align:center;
    padding:30px 20px 30px 20px;
}

#login table, img
{
    margin: auto;
}

#login img
{
    width:120px;
    height:120px;
    margin-top:10px;
    margin-bottom:10px;
}

#login h1
{
    font-size:2.5rem;
    font-weight: bold;
    margin-top:10px;
    margin-bottom:10px;
    color: #205081;
}

#login h3
{
    font-size:1rem;
    margin-top:10px;
    margin-bottom:10px;
    color: #205081;
}

#login h4
{
    font-size:0.8rem;
    margin-top:10px;
    margin-bottom:10px;
    color: #205081;
}

#login .btn{
    background:rgba( 160, 33, 33, 1 );
}

#notification{
    background:rgba( 256, 256, 256, 0.7 );
    /*background-color: #233c22;*/
    /*background: -webkit-gradient( linear, left top, left bottom, from( rgba( 251, 253, 255, 0.8 ) ), to( rgba( 217, 228, 243, 0.8 ) ) );
    background: -webkit-linear-gradient( rgba( 251, 253, 255, 0.8 ), rgba( 217, 228, 243, 0.8 ) );
    background: -moz-linear-gradient( rgba( 251, 253, 255, 0.8 ), rgba( 217, 228, 243, 0.8 ) );
    background: -o-linear-gradient( rgba( 251, 253, 255, 0.8 ), rgba( 217, 228, 243, 0.8 ) );
    background: linear-gradient( rgba( 251, 253, 255, 0.8 ), rgba( 217, 228, 243, 0.8 ) );*/
    border: 1px solid #666;
    border-right: none;
    -webkit-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #205081;
    padding:20px;
    max-width: 500px;
    text-align:justify;
}

#notification h1
{
    font-family: titr;
    font-size:18pt;
    margin-top:10px;
    margin-bottom:20px;
    color: #205081;
}

.text{
    width:200px;
    border:1px solid #aaa;
    border-radius:4px;
    color:#000;
    font-family: calibri;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
}

.button1
{
    width:50px;
    border:1px solid #aaa;
    -webkit-border-radius: 4px;
    border-radius:4px;
    background: #292E56;
    /*background: -webkit-gradient( linear, left top, left bottom, from( rgba( 240, 240, 240, 0.8 ) ), to( rgba( 210, 210, 210, 0.8 ) ) );
    background: -webkit-linear-gradient( rgba( 240, 240, 240, 0.8 ), rgba( 210, 210, 210, 0.8 ) );
    background: -moz-linear-gradient( rgba( 240, 240, 240, 0.8 ), rgba( 210, 210, 210, 0.8 ) );
    background: -o-linear-gradient( rgba( 240, 240, 240, 0.8 ), rgba( 210, 210, 210, 0.8 ) );
    background: linear-gradient( rgba( 240, 240, 240, 0.8 ), rgba( 210, 210, 210, 0.8 ) );*/
    color:#fff;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    margin:1px;
    padding:5px;
}

.button1:hover
{
    border:1px solid #333;
    color:#000;
    background: -webkit-gradient( linear, left top, left bottom, from( rgba( 255, 210, 66, 0.8 ) ), to( rgba( 249,160, 31, 0.8 ) ) );
    background: -webkit-linear-gradient( rgba( 255, 210, 66, 0.8 ), rgba( 249,160, 31, 0.8 ) );
    background: -moz-linear-gradient( rgba( 255, 210, 66, 0.8 ), rgba( 249,160, 31, 0.8 ) );
    background: -o-linear-gradient( rgba( 255, 210, 66, 0.8 ), rgba( 249,160, 31, 0.8 ) );
    background: linear-gradient( rgba( 255, 210, 66, 0.8 ), rgba( 249,160, 31, 0.8 ) );
}

.modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../Images/loading.gif') 
                50% 50% 
                no-repeat;
}

@media (max-width: 767px) {
    #notification {
        display: none;
    }
}