{% extends 'shared/layout.html'%}

{% block header %}
<title>Hour Off Leave</title>
{% endblock %}
{% block content %}
<div class="content-area">
    <div class="content-area-header">
        Hour Off Leaves
    </div>
    <div class="content-area-text">
        <div class="form-group row">
            {% if formAccess["Create"] == 'True' %}
            <div class="col-md-2" style="padding-bottom:5px;" >
                <div class="col-md-12 row">
                    <div class="col-md-6">
                        <input id='newLeave' type="button" class="btn btn-primary" value="New Hour Off Leave" data-toggle="modal" data-target="#CreateEditModal"/>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if formAccess["Print"] == 'True' %}
            <div class="col-md-8" style="padding-bottom:5px;">
                    <form class="col-md-12 row" action="/LeaveManagement/HourOffExportReport" method="POST">
                        <div class="col-md-6" >
                            <select id="reportType" name="reportType" class="form-control">
                                <option value="Excel">Excel</option>
                                <option value="CVS">CVS</option>
                                <option value="PDF">PDF</option>
                            </select>
                        </div>
                        <div class="col-md-6" >
                            <input id="exportReport" type="submit" class="btn btn-default" value="Export"/>
                        </div>  
                    </form>
            </div>
            {% endif %}
        </div>
        {{ pagination.info }}
        <div class="table-responsive-sm">
            <table class="table table-striped">
                <tr class="thead-dark">
                    <th>#</th>
                    <th>User Fullname</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Reason</th>
                    <th>Approval Result</th>
                    <th>Approved By</th>
                    <th>Approve Date</th>
                    <th></th>
                </tr>
                {% for leave in myleaves %}
                <tr>
                    <td>{{ loop.index + pagination.skip }}</td>
                    <td>{{ leave.UserID.FirstName +' '+leave.UserID.LastName }}</td>
                    <td>{{ leave.StartDate }}</td>
                    <td>{{ leave.EndDate }}</td>
                    <td>{{ leave.Reason }}</td>
                    <td>
                        {% if leave.IsApproved %} 
                            Approved
                        {% elif leave.IsApproved == false %}
                            Rejected
                        {% else %}
                            Not Anwsered
                        {% endif %}
                    </td>
                    <td>
                        {% if leave.ApprovedBy %} 
                            {{ leave.ApprovedBy.FirstName + ' ' + leave.ApprovedBy.LastName }}
                        {% endif %}
                    </td>
                    <td>{{ leave.ApproveDate }}</td>
                    <td>
                        <a class="fa fa-file-alt" href="#" data-id="{{ leave.LeaveID }}" data-toggle="modal" data-target="#DetailModal"></a>
                        {% if formAccess["Update"] == 'True' %}
                            <a class="fa fa-edit" href="#" data-id="{{ leave.LeaveID }}" data-toggle="modal" data-target="#CreateEditModal"></a>
                        {% endif %}
                        {% if formAccess["Delete"] == 'True' %}
                            <a class="fa fa-trash-alt" href="#" data-id="{{ leave.LeaveID }}" data-toggle="modal" data-target="#DeleteModal"></a>
                        {% endif %}
                    </td>
                </tr>
                {% else %}
                <tr><td colspan="9">No entries yet. Add some!</td></tr>
                {% endfor %}
            </table>
        </div>
        {{ pagination.links }}
    </div>
</div>
{% if formAccess["Create"] == 'True' or formAccess["Update"] == 'True' %}
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="CreateEditModal" style="overflow:hidden;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label id="caption"></label>
                        <input type="hidden" id="selectedID"/>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2" >
                            <label>Date</label>
                        </div>
                        <div class="col-md-5" >
                            <input type="date" class="form-control" id="StartDate" name="StartDate"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2" >
                            <label>Time Period</label>
                        </div>
                        <div class="col-md-4" >
                            <input type="time" class="form-control" id="StartTime" name="StartTime"/>
                        </div>
                        <div class="col-md-4" >
                            <input type="time" class="form-control" id="EndTime" name="EndTime"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2" >
                            <label>Reason</label>
                        </div>
                        <div class="col-md-9" >
                            <input type="text" class="form-control" id="Reason" name="Reason"/>
                        </div>
                    </div>        
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Ok</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if formAccess["Delete"] == 'True' %} 
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="DeleteModal" style="overflow:hidden;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Delete Hour Off Leave</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <input type="hidden" id="selectedID"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-10">Are you sure to delete this role?</label>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Start Date</label>
                            <div class="col-md-6" >
                                <label id="StartDate"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">End Date</label>
                            <div class="col-md-6" >
                                <label id="EndDate"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Reason</label>
                            <div class="col-md-6" >
                                <label id="Reason"></label>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Ok</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="DetailModal" style="overflow:hidden;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="gridSystemModalLabel">Hour Off Leave Info</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <input type="hidden" id="selectedID"/>
                            </div>
                            <div class="form-group row">
                                    <label class="control-label col-md-3">Start Date</label>
                                    <div class="col-md-6" >
                                        <label id="StartDate"></label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">End Date</label>
                                    <div class="col-md-6" >
                                        <label id="EndDate"></label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Reason</label>
                                    <div class="col-md-6" >
                                        <label id="Reason"></label>
                                    </div>
                                </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
</div>

<script src="{{ url_for('static', filename='js/houroff.js') }}"></script>
{% endblock %}