{% extends 'shared/layout.html'%}

{% block header %}
<title>Roles</title>
{% endblock %}
{% block content %}
{% if formAccess["Create"] == 'True' %}
<input id='newRole' type="button" class="btn btn-primary" value="New Role" data-toggle="modal" data-target="#CreateEditModal"/>
<br/>
<br/>
{% endif %}
{{ pagination.info }}
<table class="table table-striped">
    <tr class="thead-dark">
        <th>#</th>
        <th>Role Title</th>
        <th>Description</th>
        <th></th>
    </tr>
    {% for entry in entries %}
    <tr>
        <td>{{ loop.index + pagination.skip }}</td>
        <td>{{ entry.RoleTitle }}</td>
        <td>{{ entry.Description }}</td>
        <td>
            <a class="gn-icon gn-icon-detail" href="#" data-id="{{ entry.RoleID }}" data-toggle="modal" data-target="#DetailModal"></a>
            {% if formAccess["Update"] == 'True' %}
                <a class="gn-icon gn-icon-edit" href="#" data-id="{{ entry.RoleID }}" data-toggle="modal" data-target="#CreateEditModal"></a>
            {% endif %}
            {% if formAccess["Delete"] == 'True' %}
                <a class="gn-icon gn-icon-delete" href="#" data-id="{{ entry.RoleID }}" data-toggle="modal" data-target="#DeleteModal"></a>
            {% endif %}
        </td>
    </tr>
    {% else %}
    <tr><td colspan="4">No entries yet. Add some!</td></tr>
    {% endfor %}
</table>
{{ pagination.links }}

{% if formAccess["Create"] == 'True' or formAccess["Update"] == 'True' %}
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="CreateEditModal" style="overflow:hidden;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                
            </div>
            <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label id="caption"></label>
                            <input type="hidden" id="selectedID"/>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3" >
                                <labe>Role Title</label>
                            </div>
                            <div class="col-md-6" >
                                <input type="text" class="form-control" id="RoleTitle" name="RoleTitle"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3" >
                                <labe>Description</label>
                            </div>
                            <div class="col-md-6" >
                                <textarea class="form-control" id="Description" name="Description"></textarea>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Ok</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if formAccess["Delete"] == 'True' %} 
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="DeleteModal" style="overflow:hidden;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Delete Role</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <input type="hidden" id="selectedID"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-10">Are you sure to delete this role?</label>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Role Title</label>
                            <div class="col-md-6" >
                                <label id="RoleTitle"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Description</label>
                            <div class="col-md-6" >
                                <label id="Description"></label>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Ok</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="DetailModal" style="overflow:hidden;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Role Info</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <input type="hidden" id="selectedID"/>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Role Title</label>
                            <div class="col-md-6" >
                                <label id="RoleTitle"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Description</label>
                            <div class="col-md-6" >
                                <label id="Description"></label>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/roles.js') }}"></script>
{% endblock %}