{% extends 'shared/layout.html'%}

{% block header %}
<title>Roles</title>
{% endblock %}
{% block content %}
<input id='newRole' type="button" class="btn btn-primary" value="New Role" data-toggle="modal" data-target="#CreateEditModal"/>
<br/>
<br/>
<table class="table">
    <tr>
        <th>Role Title</th>
        <th>Description</th>
        <th></th>
    </tr>
    {% for entry in entries %}
    <tr>
        <td>{{ entry.RoleTitle }}</td>
        <td>{{ entry.Description }}</td>
        <td>
            <a class="gn-icon gn-icon-detail" href="#" data-id="{{ entry.RoleID }}"></a>
            <a class="gn-icon gn-icon-edit" href="#" data-id="{{ entry.RoleID }}" data-toggle="modal" data-target="#CreateEditModal"></a>
            <a class="gn-icon gn-icon-delete" href="#" data-id="{{ entry.RoleID }}" data-toggle="modal" data-target="#DeleteModal"></a>
        </td>
    </tr>
    {% else %}
    <tr><td colspan="2">No entries yet. Add some!</td></tr>
    {% endfor %}
</table>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="CreateEditModal" style="overflow:hidden;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Role Info</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                
            </div>
            <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label id="caption"></label>
                            <input type="hidden" id="selectedID"/>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3" >
                                <labe>Role Title</label>
                            </div>
                            <div class="col-md-6" >
                                <input type="text" class="form-control" id="RoleTitle" name="RoleTitle"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3" >
                                <labe>Description</label>
                            </div>
                            <div class="col-md-6" >
                                <textarea class="form-control" id="Description" name="Description"></textarea>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Ok</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="DeleteModal" style="overflow:hidden;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Delete Role</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <input type="hidden" id="selectedID"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-10">Are you sure to delete this role?</label>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Role Title</label>
                            <div class="col-md-6" >
                                <label id="RoleTitle"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Description</label>
                            <div class="col-md-6" >
                                <label id="Description"></label>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Ok</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/roles.js') }}"></script>
<script>
    $(document).on("click", ".table .gn-icon-edit", function () {
        var id = $(this).data('id');
        $("#CreateEditModal #selectedID").val(id);
    });

    $(document).on("click", ".table .gn-icon-delete", function () {
        var id = $(this).data('id');
        $("#DeleteModal #selectedID").val(id);

        GetRole(id);
        setTimeout(function(){
            $('#DeleteModal #RoleTitle').html(result['RoleTitle']);
            $('#DeleteModal #Description').html(result['Description']);
        }, 500);
        
        
    });

    $(document).on("click", "#CreateEditModal .btn-primary", function () {
        CreateRole($('#CreateEditModal #RoleTitle').val(), $('#CreateEditModal #Description').val());
    });

    $(document).on("click", "#DeleteModal .btn-primary", function () {
        DeleteRole($('#DeleteModal #selectedID').val());
    });
</script>
{% endblock %}