{% extends 'shared/layout.html'%}

{% block header %}
<title>Role Accesses</title>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-1" >
        <labe>Role Title</label>
    </div>
    <div class="col-md-2" >
        <select id="RoleID" name="RoleID" class="form-control">
            {% for r in roles %}
                <option value="{{ r.RoleID }}">{{ r.RoleTitle }}</option>
            {% endfor %}
        </select>
    </div>
    {% if formAccess["Update"] == 'True' %}
    <div class="col-md-1" >
        <input type="button" class="btn btn-primary" value="Save"/>
    </div>
    {% endif %}
</div>
<hr/>
<div class="row">
    <div class="col-md-12" >
        <table class="table table-striped">
        </table>
    </div>
</div>
<script src="{{ url_for('static', filename='js/roleaccesses.js') }}"></script>
{% endblock %}