{% extends 'shared/layout.html'%}

{% block header %}
<title>Users</title>
{% endblock %}
{% block content %}
{% if formAccess["Create"] == 'True' %}
<input id='newUser' type="button" class="btn btn-primary" value="New User" data-toggle="modal" data-target="#CreateEditModal"/>
<br/>
<br/>
{% endif %}
{{ pagination.info }}
<div class="table-responsive-sm">
    <table class="table table-striped">
        <tr class="thead-dark">
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Role Title</th>
            <th>Personel Code</th>
            <th>Is Active?</th>
            <th>Manager</th>
            <th></th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ loop.index + pagination.skip }}</td>
            <td>{{ user.FirstName }}</td>
            <td>{{ user.LastName }}</td>
            <td>{{ user.Username }}</td>
            <td>{{ user.RoleID.RoleTitle }}</td>
            <td>{{ user.PersonelCode }}</td>
            <td>{{ user.IsActive }}</td>
            <td>
                {% if user.ManagerID %} 
                    {{ user.ManagerID.FirstName + ' ' + user.ManagerID.LastName }}
                {% endif %}
            </td>
            <td>
                <a class="gn-icon gn-icon-detail" href="#" data-id="{{ user.UserID }}" data-toggle="modal" data-target="#DetailModal"></a>
                {% if formAccess["Update"] == 'True' %}
                    <a class="gn-icon gn-icon-edit" href="#" data-id="{{ user.UserID }}" data-toggle="modal" data-target="#CreateEditModal"></a>
                {% endif %}
                {% if formAccess["Delete"] == 'True' %}
                    <a class="gn-icon gn-icon-delete" href="#" data-id="{{ user.UserID }}" data-toggle="modal" data-target="#DeleteModal"></a>
                {% endif %}
                {% if formAccess["Update"] == 'True' %}
                    <a class="gn-icon gn-icon-change-password" href="#" data-id="{{ user.UserID }}" data-toggle="modal" data-target="#ChangePasswordModal"></a>
                    {% if user.IsActive %}
                        <a class="gn-icon gn-icon-user-deactivate" href="#" data-id="{{ user.UserID }}" data-toggle="modal" data-target="#UserActivateModal"></a>
                    {% else %}
                        <a class="gn-icon gn-icon-user-activate" href="#" data-id="{{ user.UserID }}" data-toggle="modal" data-target="#UserActivateModal"></a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% else %}
        <tr><td colspan="9">No entries yet. Add some!</td></tr>
        {% endfor %}
    </table>
</div>
{{ pagination.links }}

{% if formAccess["Create"] == 'True' or formAccess["Update"] == 'True' %}
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="CreateEditModal" style="overflow:hidden;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                
            </div>
            <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label id="caption"></label>
                            <input type="hidden" id="selectedID"/>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-5" >
                                <label>First Name</label>
                            </div>
                            <div class="col-md-6" >
                                <input type="text" class="form-control" id="FirstName" name="FirstName"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-5" >
                                <label>Last Name</label>
                            </div>
                            <div class="col-md-6" >
                                <input type="text" class="form-control" id="LastName" name="LastName"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-5" >
                                <label>Username</label>
                            </div>
                            <div class="col-md-6" >
                                <input type="text" class="form-control" id="Username" name="Username"/>
                            </div>
                        </div>
                        <div id="PasswordBox1" class="form-group row">
                            <div class="col-md-5" >
                                <label>Password</label>
                            </div>
                            <div class="col-md-6" >
                                <input type="password" class="form-control" id="Password" name="Password"/>
                            </div>
                        </div>
                        <div id="PasswordBox2" class="form-group row">
                            <div class="col-md-5" >
                                <label>Confirm Password</label>
                            </div>
                            <div class="col-md-6" >
                                <input type="password" class="form-control" id="ConfirmPassword" name="Confirm Password"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-5" >
                                <label>Personel Code</label>
                            </div>
                            <div class="col-md-6" >
                                <input type="text" class="form-control" id="PersonelCode" name="PersonelCode"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-5" >
                                <labe>Role Title</label>
                            </div>
                            <div class="col-md-6" >
                                <select class="form-control" id="RoleID" name="RoleID">
                                    {% for r in roles %}
                                        <option value="{{ r.RoleID }}">{{ r.RoleTitle }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-5" >
                                <label>Manager</label>
                            </div>
                            <div class="col-md-6" >
                                <select class="form-control" id="ManagerID" name="ManagerID">
                                    {% for u in users %}
                                        <option value="{{ u.UserID }}">{{ u.FirstName +' '+u.LastName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Ok</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if formAccess["Delete"] == 'True' %} 
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="DeleteModal" style="overflow:hidden;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Delete User</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <input type="hidden" id="selectedID"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-10">Are you sure to delete this user?</label>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3" >
                                <label>First Name</label>
                            </div>
                            <div class="col-md-6" >
                                <label id="FirstName"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3" >
                                <label>Last Name</label>
                            </div>
                            <div class="col-md-6" >
                                <label id="LastName"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3" >
                                <label>Username</label>
                            </div>
                            <div class="col-md-6" >
                                <label id="Username"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3" >
                                <label>Personel Code</label>
                            </div>
                            <div class="col-md-6" >
                                <label id="PersonelCode"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3" >
                                <labe>Role Title</label>
                            </div>
                            <div class="col-md-6" >
                                <label id="RoleTitle"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3" >
                                <label>Manager Name</label>
                            </div>
                            <div class="col-md-6" >
                                <label id="ManagerName"></label>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Ok</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="DetailModal" style="overflow:hidden;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">User Info</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <input type="hidden" id="selectedID"/>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3" >
                                <label>First Name</label>
                            </div>
                            <div class="col-md-6" >
                                <label id="FirstName"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3" >
                                <label>Last Name</label>
                            </div>
                            <div class="col-md-6" >
                                <label id="LastName"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3" >
                                <label>Username</label>
                            </div>
                            <div class="col-md-6" >
                                <label id="Username"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3" >
                                <label>Personel Code</label>
                            </div>
                            <div class="col-md-6" >
                                <label id="PersonelCode"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3" >
                                <label>Role Title</label>
                            </div>
                            <div class="col-md-6" >
                                <label id="RoleTitle"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3" >
                                <label>Manager Name</label>
                            </div>
                            <div class="col-md-6" >
                                <label id="ManagerName"></label>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

{% if formAccess["Update"] == 'True' %}
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="UserActivateModal" style="overflow:hidden;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">User Activate</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <input type="hidden" id="selectedID"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-10">Are you sure to change activation of this user?</label>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3" >
                                <label>First Name</label>
                            </div>
                            <div class="col-md-6" >
                                <label id="FirstName"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3" >
                                <label>Last Name</label>
                            </div>
                            <div class="col-md-6" >
                                <label id="LastName"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3" >
                                <label>Username</label>
                            </div>
                            <div class="col-md-6" >
                                <label id="Username"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3" >
                                <label>Personel Code</label>
                            </div>
                            <div class="col-md-6" >
                                <label id="PersonelCode"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3" >
                                <label>Is Active?</label>
                            </div>
                            <div class="col-md-6" >
                                <label id="IsActive"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3" >
                                <labe>Role Title</label>
                            </div>
                            <div class="col-md-6" >
                                <label id="RoleTitle"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3" >
                                <label>Manager Name</label>
                            </div>
                            <div class="col-md-6" >
                                <label id="ManagerName"></label>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Ok</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="ChangePasswordModal" style="overflow:hidden;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Change Password</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                
            </div>
            <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label id="caption"></label>
                            <input type="hidden" id="selectedID"/>
                        </div>
                        <div id="PasswordBox1" class="form-group row">
                            <div class="col-md-5" >
                                <labe>Password</label>
                            </div>
                            <div class="col-md-6" >
                                <input type="password" class="form-control" id="Password" name="Password"/>
                            </div>
                        </div>
                        <div id="PasswordBox2" class="form-group row">
                            <div class="col-md-5" >
                                <labe>Confirm Password</label>
                            </div>
                            <div class="col-md-6" >
                                <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword"/>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Ok</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<script src="{{ url_for('static', filename='js/users.js') }}"></script>
{% endblock %}