<!DOCTYPE html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/demo.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/component.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/fontawesome/css/all.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/bootstrap/css/bootstarp.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/jquery-ui/css/jquery-ui.css') }}" />
    <script src="{{ url_for('static', filename='lib/popper/js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jquery/js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-ui/js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/fontawesome/js/all.js') }}"></script>
    {% block header %}{% endblock %}
</head>
<body>
        <div class="container1">
                <ul id="gn-menu" class="gn-menu-main">
                    <li class="gn-trigger">
                        <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
                        <nav class="gn-menu-wrapper">
                            <div class="gn-scroller">
                                <ul class="gn-menu">
                                    <li><a class="gn-icon gn-icon-dashboard" href="/Dashboard">Dashboard</a></li>
                                    {% if session['menu_access']['Roles'] == 'True' %}
                                    <li><a class="gn-icon gn-icon-role" href="/UserManagement/Roles">Roles</a></li>
                                    {% endif %}
                                    {% if session['menu_access']['Role Accesses'] == 'True' %}
                                    <li><a class="gn-icon gn-icon-roleaccess"  href="/UserManagement/RoleAccesses">Role Accesses</a></li>
                                    {% endif %}
                                    {% if session['menu_access']['Users'] == 'True' %}
                                        <li><a class="gn-icon gn-icon-user" href="/UserManagement/Users">Users</a></li>
                                    {% endif %}
                                    {% if session['menu_access']['Transport Types'] == 'True' %}
                                        <li><a class="gn-icon gn-icon-bus" href="/TransportTypeManagement/TransportTypes">Transport Types</a></li>
                                    {% endif %}
                                    {% if session['menu_access']['Roles'] == 'True' %}
                                    <li><a class="gn-icon gn-icon-running" href="/LeaveManagement/Leaves">Leaves</a></li>
                                    {% endif %}
                                    {% if session['menu_access']['Intra City Mission'] == 'True' %}
                                    <li><a class="gn-icon gn-icon-suitecase" href="/MissionManagement/Missions">Intra City Mission</a></li>
                                    {% endif %}
                                    {% if session['menu_access']['Extra-Urban Mission'] == 'True' %}
                                    <li><a class="gn-icon gn-icon-plane" href="#">Extra-Urban Mission</a></li>
                                    {% endif %}
                                    {% if session['menu_access']['Hour Off'] == 'True' %}
                                    <li><a class="gn-icon gn-icon-stopwatch" href="#">Hour Off</a></li>
                                    {% endif %}
                                    {% if session['menu_access']['Settings'] == 'True' %}
                                    <li><a class="gn-icon gn-icon-cog" href="/SettingsManagement/Settings">Settings</a></li>
                                    {% endif %}
                                    <li><a class="gn-icon gn-icon-help" href="/About">About</a></li>
                                </ul>
                            </div><!-- /gn-scroller -->
                        </nav>
                    </li>
                    <li><span class="logo">FALCON</span></li>
                    <li><a class="codrops-icon codrops-icon-power" href="/logout"><span>Sign Out</span></a></li>
                    
                </ul>
                <div class="content1">
                    {% block content %}{% endblock %}
                </div>
            </div><!-- /container -->
            
            <script src="{{ url_for('static', filename='js/classie.js') }}"></script>
            <script src="{{ url_for('static', filename='js/gnmenu.js') }}"></script>
            <script>
                new gnMenu( document.getElementById( 'gn-menu' ) );
            </script>
    
</body>
</html>